/* ui */
* {
    padding:0;
    margin:0;
}
body {
    height:4000px;
}
.AA {
    position:sticky;
    position:fixed;
    display:flex;
    justify-content: space-around;
    background-color: rgba(245, 198, 152);  
    height:auto;
    width: 100%;
}
a {
    font-size:25px;
    padding:10px;
    color:white;
    text-decoration: none;
}
a:hover{
    color: black;
}
/* part 1 */
.main {
    padding-top:0px;
    background-color: black;
    background:url(./image/Mid-Autumn_Festival-beijing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1500px;
    width: 100%;
}
.part1 {
    width:1200px;
    height: 1100px;
    margin:auto;;
    display:flex;
    padding-top:60px;
}
.container1 {
    display:flex;
    flex-direction: column;
    background-color: grey;
    width: 50%;
    border-radius: 40px 40px;
    border: rgb(245, 198, 152) solid 5px;
}
.container2 {
    display:flex;
    flex-direction: column;
    width: 50%;
    border-radius: 40px 40px;
    border: rgb(245, 198, 152) solid 5px;
}
h1 {
    padding-bottom:20px;
    padding-top:30px;
    font-size:45px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.p1 {
    font-family:'Courier New', Courier, monospace;
    padding-left:17px;
    font-size:27px;
    color: white;
}
.none {
    height:30px;
}
.img1 {
    border-radius: 40px 40px;
    height:100%;
}
/* part2 */
.main2 {
    background-color: cyan;
    height:1300px;
    background: url(./image/phao\ hoa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.part2 {
    width:1200px;
    height: 800px;
    margin:auto;
    display:flex;
    flex-direction: column;
    padding-top: 40px;;
}
.setting {
    border: 5px solid rgb(245, 198, 152);
    height: 100%;
}
.container3 {
    display:flex;
    background-color: cadetblue;
    height: 60%;
}
.container4 {
    flex-direction: column;
    display:flex;
    background-color: darkgrey;
    height: 40%;
}
.img2 {
    width: 100%;
    border: 3px solid rgb(245, 198, 152);
}
.p2 {
    padding-left:10px;
    font-size:20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
}
h2 {
    padding-left:10px;
    font-size: 30px;
}
/* part3 */
.main3 {
    background-color: cyan;
    height:1300px;
    background: url(./image/part3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.part3 {
    width:1200px;
    height: 800px;
    margin:auto;
    display:flex;
    flex-direction: column;
    padding-top: 300px;;
}
.setting2 {
    border: 5px solid rgb(245, 198, 152);
    height: 100%;
    border-radius: 30px 30px 30px;
    backdrop-filter: 15px;
}
.container5 {
    background-color: grey;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top:40px;
    height:95%;
    border-radius: 30px 30px 30px;
}
.p3 {
    font-size:32px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
    color:white;
}
h3 {
    padding-bottom:40px;
    text-align: center;
    font-size:45px;
}
/* footer */
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(44, 40, 40);
    color: white;
    text-align: center;
    height: 100px;
    display:flex;
    justify-content: space-evenly;
 }
 .ss1 {
    display:flex;
    flex-direction: column;
 }
 a {
    font-size:12px;
 }